<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Albums</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a> |
        <a href="/search">Search</a>
        <button onclick="location.href='/clearTables'">Clear Tables</button>
        <button onClick="location.href='/clearAndRemakeTables'">Clear And ReInsert</button>
    </nav>

    <h1>Albums</h1>

    <form action="/create_album" method="POST">
        <strong>CREATE:</strong>
        <br>
        <label for="albumName">Album Name: </label>
        <input type="text" id="albumName" name="albumName" required>
        <label for="artistName">Artist Name: </label>
        <input type="text" id="artistName" name="artistName" required>
        <br>
        <label for="numSongs">Num Songs: </label>
        <input type="number" id="numSongs" name="numSongs" required>
        <label for="rating">Rating: </label>
        <input type="number" id="rating" name="rating" required>
        <br>
        <label for="releaseYear">Release Year: </label>
        <input type="number" id="releaseYear" name="releaseYear" required>
        <label for="playTime">Play Time: </label>
        <input type="text" id="playTime" name="playTime" required>
        <br>
        <button type="submit">Create</button>
        <br><br>
    </form>

    <form action="/update_album" method="POST">
        <strong>UPDATE</strong>
        <label for="albumId">Album ID: </label>
        <input type="number" id="albumId" name="albumId" required>
        <label for="albumName">Album Name: </label>
        <input type="text" id="albumName" name="albumName" required>
        <label for="artistName">Artist Name: </label>
        <input type="text" id="artistName" name="artistName" required>
        <label for="numSongs">Num Songs: </label>
        <input type="number" id="numSongs" name="numSongs" required>
        <label for="rating">Rating: </label>
        <input type="number" id="rating" name="rating" required>
        <label for="releaseYear">Release Year: </label>
        <input type="number" id="releaseYear" name="releaseYear" required>
        <label for="playTime">Play Time: </label>
        <input type="text" id="playTime" name="playTime" required>
        <button type="submit">Update</button>
        <br><br>
    </form>

    <form action="/delete_album" method="POST">
        <strong>DELETE</strong>
        <label for="albumId">Album ID: </label>
        <input type="number" id="albumId" name="albumId" required>
        <button type="submit">Delete</button>
        <br><br>
    </form>


    <div class="table">
        <table>
            <head>
                <tr>
                    <th>AlbumId</th>
                    <th>AlbumName</th>
                    <th>ArtistName</th>
                    <th>NumSongs</th>
                    <th>Rating</th>
                    <th>ReleaseYear</th>
                    <th>PlayTime</th>
                </tr>
            </head>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td>{{ album[0] }}</td>
                        <td>{{ album[1] }}</td>
                        <td>{{ album[2] }}</td>
                        <td>{{ album[3] }}</td>
                        <td>{{ album[4] }}</td>
                        <td>{{ album[5] }}</td>
                        <td>{{ album[6] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>