<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Albums</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a>
    </nav>

    <h1>Album List</h1>

    <button>Create</button>
    <button>Read</button>
    <button>Update</button>
    <button>Delete</button>

    <list>
        <li>AlbumId, AlbumName, ArtistName, NumSongs, Rating, ReleaseYear, PlayTime</li>
            {% for album in albums %}
                 <li>{{album}}</li>
            {% endfor %}

    </list>
</body>

</html>