<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Albums</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a> |
        <a href="/search">Search</a> |
        <a href="/recommendations">Recommendations</a>
        <button onclick="location.href='/clearTables'">Clear Tables</button>
        <button onClick="location.href='/clearAndRemakeTables'">Clear And ReInsert</button>
    </nav>

    <h1>Albums</h1>

    <div style="width: 100%;">
        <div style="float: left; width: 33.33%;">
            <h2 style="text-align: center;">Create</h2>
            <form action="/create_album" method="POST">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="albumName" style="flex: 1; text-align: right; margin-right: 10px;">Album Name:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="text" id="albumName" name="albumName" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="artistName" style="flex: 1; text-align: right; margin-right: 10px;">Artist Name:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="text" id="artistName" name="artistName" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="numSongs" style="flex: 1; text-align: right; margin-right: 10px;">Num Songs:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="number" id="numSongs" name="numSongs" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="rating" style="flex: 1; text-align: right; margin-right: 10px;">Rating:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="number" id="rating" name="rating" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="releaseYear" style="flex: 1; text-align: right; margin-right: 10px;">Release Year:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="number" id="releaseYear" name="releaseYear" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="playTime" style="flex: 1; text-align: right; margin-right: 10px;">Play Time:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="text" id="playTime" name="playTime" required>
                    </div>
                </div>
                <br>
                <div style="text-align: center;">
                    <button type="submit">Create</button>
                </div>
                <br><br>  
            </form>
        </div>
        <div style="float: left; width: 33.33%;">
            <h2 style="text-align: center;">Update</h2>
            <form action="/update_album" method="POST">
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="albumId" style="flex: 1; text-align: right; margin-right: 10px;">Album ID:</label>
                <div style="flex: 2; display: flex; justify-content: center;">
                <input type="number" id="albumId" name="albumId" required>
                </div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="albumName" style="flex: 1; text-align: right; margin-right: 10px;">Album Name:</label>
                <div style="flex: 2; display: flex; justify-content: center;">
                <input type="text" id="albumName" name="albumName">
                </div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="artistName" style="flex: 1; text-align: right; margin-right: 10px;">Artist Name:</label>
                <div style="flex: 2; display: flex; justify-content: center;">
                <input type="text" id="artistName" name="artistName">
                </div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="numSongs" style="flex: 1; text-align: right; margin-right: 10px;">Num Songs:</label>
                <div style="flex: 2; display: flex; justify-content: center;">
                <input type="number" id="numSongs" name="numSongs">
                </div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="rating" style="flex: 1; text-align: right; margin-right: 10px;">Rating:</label>
                <div style="flex: 2; display: flex; justify-content: center;">
                <input type="number" id="rating" name="rating">
                </div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="releaseYear" style="flex: 1; text-align: right; margin-right: 10px;">Release Year:</label>
                <div style="flex: 2; display: flex; justify-content: center;">
                <input type="number" id="releaseYear" name="releaseYear">
                </div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="playTime" style="flex: 1; text-align: right; margin-right: 10px;">Play Time:</label>
                <div style="flex: 2; display: flex; justify-content: center;">
                <input type="text" id="playTime" name="playTime">
                </div>
            </div>
            <br>
            <div style="text-align: center;">
                <button type="submit">Update</button>
            </div>
            <br><br>  
            </form>
        </div>
        <div style="float: left; width: 33.33%;">
            <h2 style="text-align: center;">Delete</h2>
            <form action="/delete_album" method="POST">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="albumId" style="flex: 1; text-align: right; margin-right: 10px;">Album ID:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="number" id="albumId" name="albumId" required>
                    </div>
                </div>
                <br>
                <div style="text-align: center;">
                    <button type="submit">Delete</button>
                </div>
                <br><br>  
            </form>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="table">
        <table>
            <head>
                <tr>
                    <th>AlbumId</th>
                    <th>AlbumName</th>
                    <th>ArtistName</th>
                    <th>NumSongs</th>
                    <th>Rating</th>
                    <th>ReleaseYear</th>
                    <th>PlayTime</th>
                </tr>
            </head>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td>{{ album[0] }}</td>
                        <td>{{ album[1] }}</td>
                        <td>{{ album[2] }}</td>
                        <td>{{ album[3] }}</td>
                        <td>{{ album[4] }}</td>
                        <td>{{ album[5] }}</td>
                        <td>{{ album[6] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>