<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Artists</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a> |
        <a href="/search">Search</a>
    </nav>
    <h1>Artists</h1>

    <form action="/create_artist" method="POST">
        <strong>CREATE</strong>
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" required>
        <label for="artistRating">Artist Rating:</label>
        <input type="number" id="artistRating" name="artistRating" required>
        <button type="submit">Create</button>
        <br><br>  
    </form>

    <form action="/update_artist" method="POST"">
        <strong>UPDATE</strong>
        <label for="artistName"> Artist Name: </label>
        <input type="text" id="artistName" name="artistName" required>
        <label for="artistRating"> Artist Rating: </label>
        <input type="number" id="artistRating" name="artistRating" required>
        <button type="submit">Update</button>
        <br><br>
    </form>

    <form action="/delete_artist" method="POST">
        <strong>DELETE</strong>
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" required>
        <button type="submit">Delete</button>
        <br><br>

    </form>

    <list>
        <li>ArtistName, Rating</li>
            {% for artist in artists %}
                 <li>{{artist}}</li>
            {% endfor %}
    </list>

    <br><br>

</body>

</html>