<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Genres</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a> |
        <a href="/search">Search</a> |
        <a href="/recommendations">Time Block</a>
        <button onClick="location.href='/clearAndRemakeTables'">Clear And ReInsert</button>
    </nav>
    <h1>Genre List</h1>

    <div style="with: 100%;">
        <div style="float: left; width: 33.33%;">
            <h2 style="text-align: center;">Create</h2>
            <form action="/create_genre" method="POST">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="genreName" style="flex: 1; text-align: right; margin-right: 10px;">Genre Name:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="text" id="genreName" name="genreName" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="songId" style="flex: 1; text-align: right; margin-right: 10px;">Song ID:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="number" id="songId" name="songId" required>
                    </div>
                </div>
                <br>
                <div style="text-align: center;">
                    <button type="submit">Update</button>
                </div>
                <br><br>
            </form>
        </div>
        <div style="float: left; width: 33.33%;">
            <h2 style="text-align: center;">Update</h2>
            <form action="/update_genre" method="POST">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="genreId" style="flex: 1; text-align: right; margin-right: 10px;">Genre ID:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="number" id="genreId" name="genreId" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="genreName" style="flex: 1; text-align: right; margin-right: 10px;">Genre Name:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="text" id="genreName" name="genreName" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="songId" style="flex: 1; text-align: right; margin-right: 10px;">Song ID:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="number" id="songId" name="songId" required>
                    </div>
                </div>
                <br>
                <div style="text-align: center;">
                    <button type="submit">Update</button>
                </div>

            </form>
        </div>
        <div style="float: left; width: 33.33%;">
            <h2 style="text-align: center;">Delete</h2>
            <form action="/delete_genre" method="POST">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="genreId" style="flex: 1; text-align: right; margin-right: 10px;">Genre ID:</label>
                    <div style="flex: 2; display: flex; justify-content: center;">
                        <input type="number" id="genreId" name="genreId" required>
                    </div>
                </div>
                <br>
                <div style="text-align: center;">
                    <button type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>

    <div style="clear: both;"></div>

    <div class="table">
        <table>
            <head>
                <tr>
                    <th>Genre ID</th>
                    <th>Genre Name</th>
                    <th>Song ID</th>
                </tr>
            </head>
            <tbody>
                {% for genre in genres %}
                    <tr>
                        <td>{{ genre[0] }}</td>
                        <td>{{ genre[1] }}</td>
                        <td>{{ genre[2] }}</td>
                        <td>{{ genre[3] }}</td>
                        <td>{{ genre[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




    <!-- <list>
        <li>GenreId, GenreName, AlbumId, ArristName, SongId</li>
            {% for genre in genres %}
                 <li>{{genre}}</li>
            {% endfor %}

    </list> -->
    
</body>

</html>