<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Genres</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a> |
        <a href="/search">Search</a>
        <button onclick="location.href='/clearTables'">Clear Tables</button>
        <button onClick="location.href='/clearAndRemakeTables'">Clear And ReInsert</button>
    </nav>
    <h1>Genre List</h1>

    <form action="/create_genre" method="POST">
        <strong>CREATE</strong>
        <label for="genreName">Genre Name:</label>
        <input type="text" id="genreName" name="genreName" required>
        <label for="albumId">Album ID:</label>
        <input type="number" id="albumId" name="albumId" required>
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" required>
        <label for="songId">Song ID:</label>
        <input type="number" id="songId" name="songId" required>
        <button type="submit">Create</button>
        <br><br>
    </form>

    <form action="/update_genre" method="POST">
        <strong>UPDATE</strong>
        <label for="genreId">Genre ID:</label>
        <input type="number" id="genreId" name="genreId" required>
        <label for="genreName">Genre Name:</label>
        <input type="text" id="genreName" name="genreName" required>
        <label for="albumId">Album ID:</label>
        <input type="number" id="albumId" name="albumId" required>
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" required>
        <label for="songId">Song ID:</label>
        <input type="number" id="songId" name="songId" required>
        <button type="submit">Update</button>
        <br><br>
    </form>

    <form action="/delete_genre" method="POST">
        <strong>DELETE</strong>
        <label for="genreId">Genre ID:</label>
        <input type="number" id="genreId" name="genreId" required>
        <button type="submit">Delete</button>
        <br><br>
    </form>

    <div class="table">
        <table>
            <head>
                <tr>
                    <th>Genre ID</th>
                    <th>Genre Name</th>
                    <th>Album ID</th>
                    <th>Artist Name</th>
                    <th>Song ID</th>
                </tr>
            </head>
            <tbody>
                {% for genre in genres %}
                    <tr>
                        <td>{{ genre[0] }}</td>
                        <td>{{ genre[1] }}</td>
                        <td>{{ genre[2] }}</td>
                        <td>{{ genre[3] }}</td>
                        <td>{{ genre[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




    <!-- <list>
        <li>GenreId, GenreName, AlbumId, ArristName, SongId</li>
            {% for genre in genres %}
                 <li>{{genre}}</li>
            {% endfor %}

    </list> -->
    
</body>

</html>