<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Songs</title>
</head>

<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/songs">Songs</a> |
    <a href="/albums">Albums</a> |
    <a href="/artists">Artists</a> |
    <a href="/genres">Genres</a> |
    <a href="/search">Search</a> |
    <a href="/recommendations">Time Block</a>
    <button onClick="location.href='/clearAndRemakeTables'">Clear And ReInsert</button>
</nav>

<h1>Time Block</h1>

<h2>Enter the number of minutes you would like to fill with music</h2>
<form action="/recommendations" method="POST">
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
        <label for="songId1" style="flex: 1; text-align: right; margin-right: 10px;">Time in minutes</label>
        <div style="flex: 2; display: flex; justify-content: center;">
            <input type="text" id="songId1" name="songId1" required>
        </div>
        <button type="submit">Generate Playlist</button>
    </div>

</form>

<h2>Playlist time: {{totalTime}} minutes</h2>

<div class="table">
    <table>
        <head>
            <tr>
                <th>Song ID</th>
                <th>Song Title</th>
                <th>Artist Name</th>
                <th>Time Seconds</th>
            </tr>
        </head>
        <tbody>
            {% for recom in recommendations %}
            <tr>
                <td>{{ recom[0] }}</td>
                <td>{{ recom[1] }}</td>
                <td>{{ recom[2] }}</td>
                <td>{{ recom[3] }}</td>
                <td>{{ recom[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




</body>

</html>