<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Songs</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a> |
        <a href="/search">Search</a> |
        <a href="/recommendations">Recommendations</a>
        <button onclick="location.href='/clearTables'">Clear Tables</button>
        <button onClick="location.href='/clearAndRemakeTables'">Clear And ReInsert</button>
    </nav>

    <h1>Search</h1>


    <form action="/search" method="POST">
        <strong>Search</strong>
        <label for="songTitle">Song Title:</label>
        <input type="text" id="songTitle" name="songTitle">
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName">
        <button type="submit">Search</button>
        <br><br>
    </form>

    <div class="table">
        <table>
            <head>
                <tr>
                    <th>Song ID</th>
                    <th>Song Title</th>
                    <th>Artist Name</th>
                    <th>Album ID</th>
                    <th>Featured Artist</th>
                    <th>Rating</th>
                    <th>Time</th>
                </tr>
            </head>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                    <td>{{ result[4] }}</td>
                    <td>{{ result[5] }}</td>
                    <td>{{ result[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- <list>
        <li></li>
            {% for result in results %}
                 <li>{{result}}</li>
            {% endfor %}

    </list> -->

    <br><br>

</body>

</html>