<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Songs</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a> |
        <a href="/search">Search</a>
    </nav>

    <h1>Search</h1>


    <form action="/search" method="POST">
        <strong>Search</strong>
        <label for="songTitle">Song Title:</label>
        <input type="text" id="songTitle" name="songTitle" required>
        <button type="submit">Search</button>
        <br><br>
    </form>

    <list>
        <li></li>
            {% for result in results %}
                 <li>{{result}}</li>
            {% endfor %}

    </list>

    <br><br>

</body>

</html>