<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
    
        nav a {
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <title>Songs</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/songs">Songs</a> |
        <a href="/albums">Albums</a> |
        <a href="/artists">Artists</a> |
        <a href="/genres">Genres</a> |
        <a href="/search">Search</a>
        <button onclick="location.href='/clearTables'">Clear Tables</button>
        <button onClick="location.href='/clearAndRemakeTables'">Clear And ReInsert</button>
    </nav>

    <h1>Songs</h1>

    <form action="/create_song" method="POST">
        <strong>CREATE</strong>
        <label for="songTitle">Song Title:</label>
        <input type="text" id="songTitle" name="songTitle" required>
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" required>
        <label for="albumId">Album ID:</label>
        <input type="number" id="albumId" name="albumId" required>
        <label for="albumName">Album Name:</label>
        <input type="text" id="albumName" name="albumName" required>
        <label for="featuredArtist">Featured Artist:</label>
        <input type="text" id="featuredArtist" name="featuredArtist">
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" required>
        <label for="time">Time:</label>
        <input type="text" id="time" name="time" required>
        <button type="submit">Create</button>
        <br><br>
    </form>

    <form action="/update_song" method="POST">
        <strong>UPDATE</strong>
        <label for="songId">Song ID:</label>
        <input type="number" id="songId" name="songId" required>
        <label for="songTitle">Song Title:</label>
        <input type="text" id="songTitle" name="songTitle" required>
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" required>
        <label for="albumId">Album ID:</label>
        <input type="number" id="albumId" name="albumId" required>
        <label for="albumName">Album Name:</label>
        <input type="text" id="albumName" name="albumName" required>
        <label for="featuredArtist">Featured Artist:</label>
        <input type="text" id="featuredArtist" name="featuredArtist">
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" required>
        <label for="time">Time:</label>
        <input type="text" id="time" name="time" required>
        <button type="submit">Update</button>
        <br><br>
    </form>

    <form action="/delete_song" method="POST">
        <strong>DELETE</strong>
        <label for="songId">Song ID:</label>
        <input type="number" id="songId" name="songId" required>
        <button type="submit">Delete</button>
        <br><br>


        <div class="table">
            <table>
                <head>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>AlbumId</th>
                        <th>Featured Artist</th>
                        <th>Rating</th>
                        <th>Time</th>
                    </tr>
                </head>
                <tbody>
                    {% for song in songs %}
                        <tr>
                            <td>{{song[0]}}</td>
                            <td>{{song[1]}}</td>
                            <td>{{song[2]}}</td>
                            <td>{{song[3]}}</td>
                            <td>{{song[4]}}</td>
                            <td>{{song[5]}}</td>
                            <td>{{song[6]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <br><br>

</body>

</html>